<nav class="desktop-nav bg-blue-800 p-4">
    <ul class="flex space-x-4">
      <li>
        <a href="/" class="desktop-nav-link text-white hover:bg-blue-600 px-4 py-2 rounded transition duration-300">Home</a>
      </li>
      <li>
        <a href="/user/login" class="desktop-nav-link text-white hover:bg-blue-600 px-4 py-2 rounded transition duration-300">User Login</a>
      </li>
      <li>
        <a href="/company/login" class="desktop-nav-link text-white hover:bg-blue-600 px-4 py-2 rounded transition duration-300">Company Login</a>
      </li>
      <li>
        <a href="/user/register" class="desktop-nav-link text-white hover:bg-blue-600 px-4 py-2 rounded transition duration-300">User Sign Up</a>
      </li>
      <li>
        <a href="/company/register" class="desktop-nav-link text-white hover:bg-blue-600 px-4 py-2 rounded transition duration-300">Company Sign Up</a>
      </li>
    </ul>
  </nav>
  