<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.3/base.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="https://storage.googleapis.com/lazy-icons/not-found-placeholder.webp" type="image/x-icon">
    <title>Loyalty Points System</title>
  </head>
  <body>
    {% include 'partials/_header.html' %}
    <div class="main-content">
      {% block content %}{% endblock %}
    </div>
    <script src="/static/js/home.js"></script>
  </body>
</html>
